.content {
	font-family: var(--main-font);
	font-size: 20px;
	color: var(--light-text);
	background-color: var(--dark-background);
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
	min-height: calc(100vh - 110px);
	max-width: 1400px;
}

.language-skill-rating {
	display: inline-block;
	margin: 0;
}

.rating {
	text-align: right;
}

@media screen and (max-width: 600px) {
	.content {
		margin-left: 5%;
		margin-right: 5%;
	}
}
