.airplane {
  position: absolute;
  width: 100px;
  top: 32%;
  animation: up 2s ease-in-out infinite alternate, rotate 4s ease-out infinite;
}
@keyframes moving {
  to {
    background-position: -110% 0;
  }
}
@keyframes up {
  to {
    margin-top: -100px;
  }
}
@keyframes rotate {
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(30deg);
  }
}
