a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 25px;
	margin-left: 20%;
	margin-right: 20%;
	font-family: var(--main-font);
	margin-bottom: 30px;
	float: left;
	max-width: 1400px;
}

.navbar-nav {
	padding-bottom: 10px;
}

.navbar:after {
	position: flex;
	left: 0;
	height: 2px;
	background: var(--light-text);
	content: "";
	width: 100%;
	display: block;
}

.page-title {
	display: inline-block;
	font-size: 25px;
	font-weight: 600;
	font-family: var(--heading-font);
	color: var(--light-text);
	padding: 10px;
	text-decoration: none;
	transition: 0.3s;
}

.page-names {
	display: inline-block;
	font-size: 25px;
	color: var(--light-text);
	padding: 10px;
	text-decoration: none;
	transition: 0.3s;
}

.right-items {
	float: right;
}

.page-title:hover {
	color: #acacac;
}

.page-names:hover {
	color: #acacac;
}

/* Mobile Specific*/

.mobile {
	text-align: center;
	display: none;
}

.mobile-title {
	display: inline-block;
	font-size: 25px;
	font-weight: 600;
	font-family: var(--heading-font);
	color: var(--light-text);
	padding: 10px;
	text-decoration: none;
	transition: 0.3s;
}

.mobile-names {
	display: inline-block;
	font-size: 25px;
	color: var(--light-text);
	padding: 10px;
	text-decoration: none;
	transition: 0.3s;
}

/* Responsive */

@media screen and (max-width: 1000px) {
	.navbar {
		margin: 0;
	}

	#desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.navbar:after {
		display: none;
	}
}