a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 20%;
	margin-right: 20%;
	font-family: var(--main-font);
	background-color: var(--dark-background);
	text-align: center;
	margin-bottom: 30px;
}

.desktop-header {
	color: var(--light-text);
	font-size: 50px;
	margin: 10px;
	text-decoration: none;
}

.mobile-header {
	color: var(--light-text);
	font-size: 40px;
	margin: 10px;
	text-decoration: none;
	float: left;
	display: none;
}

.page-names {
	font-size: 24px;
	color: var(--dark-text);
	padding: 10px;
	text-decoration: none;
	transition: 0.3s;
}

#about:hover {
	color: #e5c07b;
}

#projects:hover {
	color: #61afef;
}

#self-education:hover {
	color: #e06c75;
}

.page-names:visited {
	text-decoration: none;
}

#navbarDropdown {
	font-size: 40px;
	margin: 10px;
	float: right;
	display: none;
}

.nav-item.dropdown {
	color: var(--light-text);
}

.nav-item.show.dropdown {
	color: var(--dark-text);
}

.dropdown-menu {
	display: none;
}

.dropdown-menu.show {
	display: block;
}

.page-names-mobile {
	font-size: 24px;
	color: var(--dark-text);
	padding: 10px;
	text-decoration: none;
	transition: 0.3s;
	display: block;
}

@media screen and (max-width: 600px) {
	.navbar {
		margin: 0;
	}

	.desktop-header {
		display: none;
	}

	.mobile-header {
		display: inline-block;
	}

	#desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	#navbarDropdown {
		display: inline-block;
	}
}
