.hero {
	margin-top: 140px;
	margin-bottom: 30px;
	font-family: var(--main-font);
	font-size: 20px;
	color: var(--light-text);
	margin-left: 20%;
	margin-right: 20%;
}

/* Keep this, breaks otherwise */
.error-container {
	height: 100vh;
}

#center {
	text-align: center;
}

@media screen and (max-width: 750px) {
	.content {
		margin-top: 150px;
		margin-left: 5%;
		margin-right: 5%;
	}
}
