:root {
	--dark-text: #909CA7;
	--light-text: #FFFFFF;
	--accent-color: #7E5F69;
	--dark-background: #283A4E;
	--light-background: whitesmoke;
	--main-font: "Nunito Sans", sans-serif;
	--accent-font: "Bodoni Moda", serif;
}

.App {
	text-align: left;
	background-color: var(--dark-background);
	min-height: calc(100vh - 110px);
}
