:root {
	--dark-text: #000000;
	--light-text: #FFFFFF;
	--accent-text: #D42C2C;
	--dark-background: #252525;
	--light-background: whitesmoke;
	--main-font: "Helvetica Neue", sans-serif;
	--accent-font: "Bodoni Moda", serif;
	--heading-font: "Futura", sans-serif;
}

.App {
	text-align: left;
	background-color: var(--dark-background);
	min-height: calc(100vh - 110px);
}
